//Variables
@import "../../../../assets/scss-data/colors";
@import "../../../../assets/scss-data/variables";

.table-wrapper {
    margin: 0;
}
.search-wrapper{
    position: relative;
    app-product-modal-search{
        width: 85%;
        display: inline-block;        
    }
    .upload-btn{
        position: absolute;
        right: 35px;
        top: 37px;
        color: $water-blue-color;
        cursor: pointer;
        font-size: 0.8em;
        font-weight: bold;
    }
}
