<div class="list-wrapper">
  <div class="list-item-wrapper">
    <div class="icon-wrapper">
      <i [ngClass]="fileTypeClass"></i>
    </div>
    <div class="info-wrapper">
      <h3 class="title">{{ uploadDetails?.file.name }}</h3>
      <span class="size-info"  *ngIf="!uploadCompleted">{{ fileTransferedSize | fileSize : 0 }} / {{ uploadDetails?.file.size | fileSize : 0}} ({{progress}}%)
      </span>
      <span class="size-info"  *ngIf="uploadCompleted"> {{ uploadDetails?.file.size | fileSize : 0}}</span>
      <br>
      <progress [value]="progress" max="100" *ngIf="!uploadCompleted"></progress>
      <span *ngIf="uploadCompleted" class="upload-completed-icon" >
        <i class="fa fa-check success-color" aria-hidden="true"></i>
      </span>
      <span *ngIf="isError" class="upload-failed-icon">
        <i class="fa fa-close" aria-hidden="true"></i>
      </span>
      <span *ngIf="isError" class="upload-failed-text">
        {{ errorMessage }}</span>
      <a *ngIf="isRetry" class="retry-btn" (click)="uploadRetry()">{{ global.language.retry }}</a>
    </div>
  </div>
</div>