<section class="tenant">
    <div class="content-wrapper" appScroll (onScroll)="handleScroll($event)">
        <app-table-header [heading]="global.language.roleDetails" [buttonLabel]="global.language.createNewRole" [id]="'addRole'"
            (onButtonClick)="addNewRole($event)" (filterBy)="searchAction($event)">
        </app-table-header>
        <div class="table-wrapper">
            <app-data-table 
                #defaultRoleDatatable 
                [isSticky] = "scroll"
                [tableData]="roleList.RoleListData.value.data.roles" 
                [loadingIndicator]="roleService.roleListDataLoader"
                [selected]="roleTableSelectedRows" 
                [pagination]="roleList.RoleListData.value.data._pagination" 
                [columns]="defaultRoleDatatableColumns"
                [isRowDetailsEnable]= "false" 
                [groupExpansionDefault]="true" 
                [tableName] = "'role'"
                [groupRowsBy]="'isGlobal'" 
                (pageAction)="pageAction($event)"
                (sortByAction)="onSortByAction($event)"
                [isShowExportButton] = "true"
            >
            </app-data-table>
        </div>
    </div>
</section>
<ng-template
    #roleTableStatusTemplate
    let-row="row"
    ngx-datatable-cell-template
>
<span [ngClass]="row.isActive ? 'badge badge-pill bordered badge-success' : 'badge badge-pill badge-danger'">
        {{ row.isActive ? global.language.active : global.language.inactive }}
    </span>
</ng-template>
<ng-template #roleTableActionsTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span dropdown class="dropdown action-dropdown" container="body"  placement="bottom right">
        <a href dropdownToggle (click)="false">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <li *ngFor="let choice of actionItems">
                <a class="dropdown-item" href (click)="false">{{choice}}</a>
            </li>
        </ul>
    </span>
</ng-template>
