<div class="toolbar-wrapper" [class.sticky]="isSticky">
  <div class="row row no-gutters">
    <div class="col-md-12 col-lg-6">
        <div *ngIf="isShowToolbar" class="d-inline-block">
        <ng-container *ngFor="let menu of contextualMenu; let i = index">
            <a class="btn btn-link" *ngIf="menu.isBulkAction" (click) = "contextMenuAction(menu.actionCode)">
                {{ menu.actionLabel }}
              </a>
          <a class="btn btn-link" *ngIf="!menu.isBulkAction && selectedRows.length === 1" (click) = "contextMenuAction(menu.actionCode)">
            {{ menu.actionLabel }}
          </a>
        </ng-container>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="pull-right">
        <div class="pagination" *ngIf="pagination.totalCount">
          <div class="page-numbers">
            <div dropdown class="dropdown data-table-page-number">
              <button dropdownToggle class="icon-link" type="button" id="pageNumberdropdown" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{ ((pagination.pageNumber * pagination.pageSize) - pagination.pageSize)+1}} - {{ pagination.pageNumber * pagination.pageSize}}
              </button>
              <div *dropdownMenu class="dropdown-menu" aria-labelledby="pageNumberdropdown">
                <ul>
                  <li *ngFor="let size of pageSizes" (click)="onClickPageSize(size)">{{ size }}</li>

                </ul>
              </div>
            </div>
            <span class="toltal-row">of {{ pagination.totalCount}}</span>
          </div>
          <a [class.disabled]="pagination.isFirst" (click)="navigatePage(-1);">
            <i class="fa fa-chevron-left"></i>
          </a>

          <a [class.disabled]="pagination.isLast" (click)="navigatePage(+1);">
            <i class="fa fa-chevron-right"></i>
          </a>
        </div>
        <div class="vertical-divider" *ngIf="isShowExportButton"></div>
        <button class="icon-link" class="icon-link" *ngIf="isShowExportButton">
          <img src="assets/img/export.png" alt="Export">
        </button>
        <!-- Table Setting starts -->
        <div *ngIf="showSettings" [autoClose]="false" dropdown appDropDownOutsideClick (onDropdownOutsideClick)="onDropdownOutsideClick($event)" [(isOpen)]="isDropDownOpen"
          class="dropdown data-table-settings" location="right">
          <button dropdownToggle class="icon-link" type="button" id="SettingdropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img src="assets/img/settings.png" alt="Settings">
          </button>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right" #settingsDropDown aria-labelledby="SettingdropdownMenuButton">
            <ul>
              <li class="title">{{global.language.showhidecolumn}}
                <ul>
                  <li [ngClass]="{'hidden': col.lockCol === true}" *ngFor='let col of allColumns'>
                    <label *ngIf="col.name" class="datatable-checkbox">
                      <input type="checkbox" [disabled]="col.lockCol === true" [id]="col.name" [checked]='isChecked(col)' (click)='toggle(col)'> {{ col.name }}
                    </label>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      <!-- Table Setting ends -->
      </div>
    </div>
  </div>
</div>

<div class="ngx-datatable" [class.sticky]="isSticky">
  <ngx-datatable #impDatatable [rows]="tableData" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'"
    [headerHeight]="42" [rowHeight]="40" [limit]="pagination.pageSize" [selected]="selected" [selectionType]="'checkbox'" [externalSorting]="true"
    [scrollbarV]="false" [scrollbarH]="true" [groupExpansionDefault]="groupExpansionDefault" [groupRowsBy]="groupRowsBy" (sort)="onSort($event)"
    [sorts]="defaultSort" (select)='onSelect($event)' (activate)="onActivate($event)">
    <ngx-datatable-row-detail [rowHeight]="120" *ngIf="isRowDetailsEnable">
      <ng-template let-row="row" #rowdetails let-expanded="expanded" ngx-datatable-row-detail-template>
        <ng-container *ngTemplateOutlet="rowDetailsTemplate"></ng-container>
      </ng-template>
    </ngx-datatable-row-detail>
    <ngx-datatable-group-header [rowHeight]="50" #groupHeader *ngIf="!isRowDetailsEnable">
      <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
        <div class="group-header">
          {{ getRowGroupName(group) }}
        </div>
      </ng-template>
    </ngx-datatable-group-header>
  </ngx-datatable>
</div>