<div class="table-header">
  <div class="row no-gutters">
    <div class="col-md-12 col-lg-6">
      <div #highlight class="form-group heading" tabindex="0" id="heading" attr.aria-label="{{heading}}">
        <h1>{{heading}}</h1>
      </div>
      <div class="form-group selected-name" *ngIf="dropdown" (click)="openDropdown()"
        role="listbox" >
        {{selectedName}}
        <i class="fa fa-angle-down drop-down" aria-hidden="true"></i>
        <ul class="dropdown" id="{{id}}" [hidden]="!isDropdownOpen">
          <li *ngFor="let selectedItem of listItems" (click)="onDropdownClick(selectedItem.name,selectedItem.id)">{{selectedItem.name}}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 text-md-left text-lg-right">
      <div class="form-group">
        <input tabindex="0" type='text' #search class="form-control search" placeholder="{{global.language.search}}" (keyup)="onKeyupInputFld(search.value)"
        />
        <button class="filter"><i class="fa fa-search"></i></button>
      </div>
      <div class="vertical-divider"></div>
      <button *appHasAccess="hasAccess" class="btn btn-primary" id="{{id}}" (click)="triggerButtonClick(buttonLabel,id)">{{buttonLabel}}</button>
    </div>
  </div>
  <hr/>
</div>