
    .form-control {
        border-color: #5cb85c;
    }
    .form-control-feedback {
        color: #5cb85c;
        margin-top: -9px;
        font-size: 12px;
        margin-left: 20px;
    }

    .form-control {
        border-color: #d9534f;
    }
    .form-control-feedback {
        color: #d9534f;
        margin-top: -9px;
        font-size: 12px;
        margin-left: 0px;
    }
