<section>
  <div class="content-wrapper">
    <app-table-header 
        [heading]="global.language.institutions" 
        [dropdown]="true" 
        [id]="'addInstitution'" 
        (onDropdownItemClick)="onSelectedSiteNameClick($event)"
        [dropdownList]="siteData.SiteListData.value.data.sites" 
        [selectedItem]="siteId" 
        [buttonLabel]="global.language.createNewInstitution" 
        (onButtonClick)="addNewInstitution($event)">
    </app-table-header>
    <div class="table-wrapper">
      <app-data-table #institutionDatatable [isSticky]="scroll" [tableData]="institutionList.InstitutionListData.value.data.institutions" [loadingIndicator]="institutionService.institutionListDataLoader"
                [selected]="institutionTableSelectedRows" [pagination]="institutionList.InstitutionListData.value.data._pagination" [columns]="institutionDatatableColumns"
                (pageAction)="pageAction($event)" (sortByAction)="onSortByAction($event)" [rowDetailsTemplate]="rowdetails" [isRowDetailsEnable]="true"
                [isShowExportButton]="false" [isSticky]="scroll">
            </app-data-table>
    </div>
  </div>
</section>
<ng-template #institutionTableRowExpandOnNameTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <a *ngIf="row.name" href="javascript:void(0);" (click)="institutionDetails($event,row)">
        <strong>{{row.name}}</strong>
    </a>
</ng-template>
<ng-template #institutionTableStatusTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span [ngClass]="row.isActive ? 'badge badge-pill bordered badge-success' : 'badge bordered badge-pill badge-danger'">
        {{ row.isActive ? global.language.active : global.language.inactive }}
    </span>
</ng-template>
<ng-template #institutionTableActionsTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span dropdown class="dropdown action-dropdown" container="body" placement="bottom right">
        <a href dropdownToggle (click)="false">
            <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    </a>
    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
        <li *ngFor="let choice of actionItems">
            <a class="dropdown-item" href="javascript:void(0)" (click)="switchActionItems(row,choice)">{{choice}}</a>
        </li>
    </ul>
    </span>
</ng-template>
<ng-template #rowdetails let rowExpandDetail="rowExpandDetails">
    <div class="datatable-body">
        <div class="datatable-row-center">
            <div class="datatable-body-cell">{{ global.language.institutionCode}}<br> 08112</div>
            <div class="datatable-body-cell">{{ global.language.createdOn}} <br> 29/12/2017</div>
            <div class="datatable-body-cell">{{ global.language.Admin}} <br> <i class="fa fa-user"></i> 12</div>
            <div class="datatable-body-cell">{{ global.language.endusers}} <br> <i class="fa fa-user"></i> 12</div>
            <div class="datatable-body-cell">{{ global.language.subscription}} <br> <i class="fa fa-dropbox"></i> 22</div>
        </div>
    </div>
</ng-template>