<div class="modal fade upload-modal" [ngClass]="{'mini': isActive }" bsModal #staticModal="bs-modal" [config]="{backdrop: false, ignoreBackdropClick: true}"
  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{ global.language.upload_label_new_upload }}</h4>
        <button *ngIf="uploadFilesCount <= 0 " class="close-btn" aria-label="Close" (click)="closeUpload()">
          <i class="fa fa-close"></i>
        </button>
        <button class="min-max-btn" (click)="isActive = !isActive;">
          <i class="fa fa-arrow-down"></i>
        </button>
      </div>
      <div class="modal-body">
        <tabset>
          <tab heading="{{global.language.ftp}}" id="ftpTab">{{ global.language.ftp }}</tab>
          <tab heading="{{global.language.computer}}" id="computerTab">           
            <app-upload [closewindow]="closewindow"
            [uploadingFilesCount]="uploadFilesCount"
            ></app-upload>
            <div class="modal-footer" *ngIf="totalFileUploaded > 0">
              <span class="files-progress" *ngIf="totalFileUploaded > 0 && uploadFilesCount < 1">
                {{ global.language.upload_completed}}
              </span>
              <span class="files-progress" *ngIf="uploadFilesCount > 0">{{ global.language.uploading}} {{ uploadFilesCount }} {{ global.language.files}} {{ uploadingFilePercentage
                }}</span>
              <span class="files-remaining">{{ remainingTime | timeRemianing }} </span>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>