<div draggable="true" ngClass="{{ dragarea }}" [style.display]="'inherit'">
  <div class="row">
    <div class="col-md-12 text-center">
      <i class="fa fa-cloud-upload fa-4x"></i>
      <br> {{ global.language.label_dragdrop }}
      <br> {{ global.language.or }}
      <br>
      <br>
      <a class="btn btn-secondary" href="javascript:void(0)" (click)="file.click()">
        {{ global.language.label_browsefiles }}
      </a>
      <input type="file" #file [multiple]="false" (change)="onFileChange($event)" style="display:none" />
    </div>
  </div>
</div>
