<div class="upload-info-wrapper"  >
  <div class="row no-gutters">
      <div class="col-6 info-text">{{global.language.start_date_time}}</div>
      <div class="col-6 info-value">{{createdTime | date:'dd.MM.yy | hh:mm a':'utc' | lowercase}}</div>
  </div>
  <div class="row no-gutters">
      <div class="col-6 info-text">{{global.language.completion_date_time}}</div>
      <div class="col-6 info-value">{{updatedTime | date:'dd.MM.yy | hh:mm a':'utc' | lowercase}}</div>
  </div>
  <div class="row no-gutters">
      <div class="col-6 info-text">{{global.language.size}}</div>
      <div class="col-6 info-value">{{totalSize | fileSize : 0}}</div>
  </div>
  <hr class="hr" />
  <div class="row no-gutters">
      <div class="col-6 info-text">{{global.language.upload_label_method}}</div>
      <div class="col-6 info-value">{{type}}</div>
  </div>
  <div class="row no-gutters">
      <div class="col-6 info-text">{{global.language.status}}</div>
      <div class="col-6 info-value">
          <div class="alert bordered" 
          [ngClass]="{
              'alert-success':status === 'COMPLETE',
              'alert-danger':status === 'FAILED'
            }">{{status}}</div>
      </div>
  </div>
  <hr class="hr" />
</div>