<app-product-modal 
    [modalClass]="'modal-lg'" 
    [modalCode]="'modal_asset_link'" 
    [show]="show" 
    [modalBodyTemplate]="assetLink"
    [title]="'Asset Link'" 
    [backdropClick]= "true"
    (onShown)="onShown($event)" 
    (close)="closeWindow($event)">
</app-product-modal>
<ng-template #assetLink>
    <tabset #staticTabs>
        <tab [heading]="global.language.asset_product_link_label_select_product">
            <app-asset-link-tab-products 
                (onButtonAction)="onButtonAction($event)">
            </app-asset-link-tab-products>
        </tab>
        <tab [heading]="global.language.asset_product_link_label_select_link_type">
            <app-asset-link-tab-link 
                [refreshForm]="refreshAssetLinkForm">
            </app-asset-link-tab-link>
        </tab>
    </tabset>
</ng-template>