@import "../../../../../assets/scss-data/colors";
@import "../../../../../assets/scss-data/variables";
.table-wrapper{
    margin: 0.7em 0;
}
.modal-footer {
 margin: 0 -0.9em;
    .btn-link{
        color: $text-color;
        text-decoration: none;
        &:hover{
            color:$black-color;
        }
    }
    .btn-secondary{
        .fa {
            float: right;
        }
    }
}
