<div class="modal fade details-window" bsModal #detailsWindow="bs-modal" [config]="{backdrop: false, ignoreBackdropClick: true}"
    tabindex="-1" role="dialog" aria-labelledby="details" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">
                    <span>{{heading | uppercase }}</span>
                    <div class="batch-id">{{batchId}}</div>
                </h4>
                <button class="close-btn" aria-label="Close" (click)="detailsWindow.hide()">
                    <i class="fa fa-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <ng-content select="app-window-tabSet"></ng-content>
            </div>
        </div>