<app-form>
  <app-form-header>
    <div class="heading">{{global.language.createNewRole}}</div>
    <div class="navbar header-section">
      <ul class="nav nav-tabs">
        <li class="shift-left" [class.active]="this.roleData.AddNewRolePostData.activeTabName == 'roledetails'"><span>{{global.language.formStep1}}</span>{{global.language.roleDetails}}</li>
        <li [class.active]="this.roleData.AddNewRolePostData.activeTabName == 'assignrights'"><span>{{global.language.formStep2}}</span>{{global.language.assignRights}}</li>
      </ul>
    </div>
  </app-form-header>
  <app-form-body>
    <app-role-add-details *ngIf="this.roleData.AddNewRolePostData.activeTabName == 'roledetails'"></app-role-add-details>
    <app-role-add-assign-rights *ngIf="this.roleData.AddNewRolePostData.activeTabName == 'assignrights'"></app-role-add-assign-rights>
  </app-form-body>
</app-form>