<i class="fa fa-spinner fa-spin" *ngIf="dataLoader"></i>
<div class="filter-wrapper" *ngIf="!dataLoader">
  <button class="btn btn-filter active">
    <span class="text">{{global.language.assets}}</span>
    <span class="number">{{productData.assetList.value.data.assets.length}}</span>
  </button>
  <button class="btn btn-filter">
    <span class="text">{{global.language.products}}</span>
    <span class="number">0</span>
  </button>
</div>
<p *ngIf="!productData.assetList.value.data.assets.length && !dataLoader" class="list-header-text">
  <span class="alert alert-info text-center d-block width-100"> {{ global.language.upload_error_no_asset_product}} </span>
</p>
<div class="assets-list-wrapper">
  <div class="list-item" *ngFor="let asset of productData.assetList.value.data.assets">
    <div class="icon-wrapper">
      <i class="fa fa-file-o"></i>
    </div>
    <div class="info-wrapper">
      <h3 class="title">{{asset.name}}</h3>
    </div>
  </div>
</div>