<form [formGroup]="institutionInfoForm" (ngSubmit)="onInstitutionFormSubmit()" novalidate="">
  <div class="form-section">
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group col-md-7 offset-md-1 col-lg-5 offset-lg-0" [ngClass]="displayFieldCss('name')">
        <label for="institutionName">{{global.language.institutionName}}</label>
        <input type="text" class="form-control" id="institutionName" attr.aria-label="Institution Name" required formControlName="name">
        <app-field-error-display [displayError]="isFieldValid('name')" [errorMsg]="getErrorMessage('name')"></app-field-error-display>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group col-md-7 offset-md-1 col-lg-5 offset-lg-0">
        <label for="institutionCode">{{global.language.institutionCode}}</label>
        <input type="text" class="form-control" id="institutionCode" attr.aria-label="Institution Code" required formControlName="code">
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group  col-md-7 offset-md-1 col-lg-5 offset-lg-0">
        <span class="institution-info-heading">{{global.language.addressAndContactInfo}}</span>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group  col-md-7 offset-md-1 col-lg-5 offset-lg-0">
        <label for="institutionAddress">{{global.language.address}}</label>
        <textarea class="form-control textarea" id="institutionAddress" formControlName="address"></textarea>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group  col-md-7  offset-md-1 col-lg-5 offset-lg-0">
        <label for="country">{{global.language.country}}</label>
        <div class="form-control" (click)="onOptionClick($event)">
          {{selectedCountry}}
          <i class="fa fa-angle-down drop-down" aria-hidden="true"></i>
          <ul class="form-control ul-list" #ul>
            <li *ngFor="let country of commonDataStore.countries.value?.data.countries; index as rowIndex" tabIndex="0" (click)="triggerListItemClick(country.name)"
              (keyup)="focusSelectedValue($event)">{{country.name}}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group col-md-7 offset-md-1 col-lg-5 offset-lg-0" [ngClass]="displayFieldCss('email')">
        <label for="institutionAdminEmail">{{global.language.email}}</label>
        <input type="email" class="form-control" id="institutionAdminEmail" required formControlName="email">
        <app-field-error-display [displayError]="isFieldValid('email')" [errorMsg]="getErrorMessage('email')"></app-field-error-display>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group  col-md-7  offset-md-1 col-lg-5 offset-lg-0" [ngClass]="displayFieldCss('phoneNumber')">
        <label for="phoneNumber">{{global.language.phoneNumber}}</label>
        <app-phone-number formControlName="countrycode"></app-phone-number>
        <input type="number" class="form-control" id="phoneNumber" attr.aria-label="{{global.language.phoneNumber}}" required placeholder="{{global.language.placeholder_phoneNumber}}"
          formControlName="phoneNumber">
        <app-field-error-display [displayError]="isFieldValid('phoneNumber')" [errorMsg]="getErrorMessage('phoneNumber')"></app-field-error-display>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="separator"></div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group  col-md-7 offset-md-1 col-lg-5 offset-lg-0">
        <span class="institution-info-heading">{{global.language.primaryContact}}</span>
        <span>{{global.language.optional}}</span>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group col-md-7 offset-md-1 col-lg-5 offset-lg-0" formArrayName="contacts">
        <div *ngFor="let p of institutionInfoForm.controls.contacts['controls']; let i = index" [formGroupName]="i">
          <label for="firstName">{{global.language.name}}</label>
          <div [ngClass]="displayFieldCss('contacts.'+i+'.firstName')">
            <input type="text" class="form-control" id="firstName" attr.aria-label="Primary Contact Name" required formControlName="firstName">
            <app-field-error-display [displayError]="isFieldValid('contacts.'+i+'.firstName')" [errorMsg]="getErrorMessage('contacts.'+i+'.firstName')"></app-field-error-display>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"> </div>
      <div class="form-group  col-md-7  offset-md-1 col-lg-5 offset-lg-0" formArrayName="contacts">
        <div *ngFor="let p of institutionInfoForm.controls.contacts['controls']; let i = index" [formGroupName]="i">
          <label for="official-designation">{{global.language.officialDesignation}}</label>
          <div>
            <input type="text" class="form-control" id="official-designation" formControlName="designation">
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group col-md-7 offset-md-1 col-lg-5 offset-lg-0" formArrayName="contacts">
        <div *ngFor="let p of institutionInfoForm.controls.contacts['controls']; let i = index" [formGroupName]="i">
          <label for="institutionAdminEmail">{{global.language.email}}</label>
          <div [ngClass]="displayFieldCss('contacts.'+i+'.email')">
            <input type="email" class="form-control" id="institutionAdminEmail" required formControlName="email">
            <app-field-error-display [displayError]="isFieldValid('contacts.'+i+'.email')" [errorMsg]="getErrorMessage('contacts.'+i+'.email')"></app-field-error-display>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group  col-md-7  offset-md-1 col-lg-5 offset-lg-0" formArrayName="contacts">
        <div *ngFor="let p of institutionInfoForm.controls.contacts['controls']; let i = index" [formGroupName]="i" [ngClass]="displayFieldCss('contacts.'+i+'.phoneNumber')">
          <label for="phoneNumber">{{global.language.phoneNumber}}</label>
          <app-phone-number formControlName="countrycode"></app-phone-number>
          <input type="number" class="form-control" id="phoneNumber" attr.aria-label="{{global.language.phoneNumber}}" required placeholder="{{global.language.placeholder_phoneNumber}}"
            formControlName="phoneNumber">
          <app-field-error-display [displayError]="isFieldValid('contacts.'+i+'.phoneNumber')" [errorMsg]="getErrorMessage('contacts.'+i+'.phoneNumber')"></app-field-error-display>
        </div>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="separator"></div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="col-md-7  offset-md-1 col-lg-5 offset-lg-0">
        <div class="form-section-footer">
          <button id="cancelInstitutionInfo" (click)="cancelInstitutionCreation()">
            {{global.language.cancelBtn}}
          </button>
          <button id="goToInstitutionAdmin" type="submit" class="btn-active">
            <span class="form-button-text-active">{{global.language.next}}</span>
            <i class="fa fa-chevron-right next-arrow" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>