<form [formGroup]="tenantDetailsForm" (ngSubmit)="onTenantFormSubmit()" novalidate="">
  <div class="form-section">
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"><span class="form-heading">{{global.language.basicInfo}}</span></div>
      <div class="form-group  col-md-7 offset-md-1 col-lg-5 offset-lg-0" [ngClass]="displayFieldCss('name')">
        <label for="tenantName">{{global.language.tenantName}}</label>
        <input type="text" class="form-control" id="tenantName" required formControlName="name">
         <app-field-error-display [displayError]="isFieldValid('name')" [errorMsg]="getErrorMessage('name')"></app-field-error-display>
      </div>
      <div class="col-md-4 col-lg-3"><span class="help-text"></span></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group  col-md-7  offset-md-1 col-lg-5 offset-lg-0">
        <label for="tenantType">{{global.language.tenantType}}</label>
        <select class="form-control" id="tenantType" formControlName="type">
          <option  value="tenant" class="form-control">{{ global.language.tenant }}</option>
        </select>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group  col-md-7   offset-md-1 col-lg-5 offset-lg-0">
        <label for="tenantAddress">{{global.language.address}}</label>
        <div class="address-textarea form-control">
          <textarea id="tenantAddress" formControlName="address"></textarea>
          <input type="text" placeholder="State" class="address-placeholder form-control">
          <input type="number" placeholder="Pincode" class="address-placeholder form-control typeNumber">
        </div>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group  col-md-7  offset-md-1 col-lg-5 offset-lg-0">
        <label for="country">{{global.language.country}}</label>
        <div appAccessibilityClickHandler tabindex="0" aria-haspopup="true" class="form-control dropdown-arrow" (click)="onOptionClick($event)"
          role="listbox" attr.aria-label="{{selectedCountry}}">{{selectedCountry}}
          <i class="fa fa-angle-down drop-down" aria-hidden="true"></i>
          <ul class="form-control ul-list" #ul aria-hidden="false">
            <li class="accessibility-dropdown listing" tabindex="0" role="option" *ngFor="let country of commonDataStore.countries.value?.data.countries; index as rowIndex"
              (click)="triggerListItemClick(country.name)" (keyup)="focusSelectedValue($event)" (keydown)="onKeyUpDown($event)"
              attr.aria-label="{{country.name}}">{{country.name}}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group  col-md-7  offset-md-1 col-lg-5 offset-lg-0" [ngClass]="displayFieldCss('contactEmail')">
        <label for="address">{{global.language.email}}</label>
        <input type="email" class="form-control" id="TenantEmail" required formControlName="contactEmail">
       <app-field-error-display [displayError]="isFieldValid('contactEmail')" [errorMsg]="getErrorMessage('contactEmail')"></app-field-error-display>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group  col-md-7  offset-md-1 col-lg-5 offset-lg-0" [ngClass]="displayFieldCss('phoneNumber')">
        <label for="phoneNumber">{{global.language.phoneNumber}}</label>
        <app-phone-number formControlName="countrycode"></app-phone-number>
        <input type="number" class="form-control typeNumber" id="basicPhno" attr.aria-label="{{global.language.phoneNumber}}" required formControlName="phoneNumber"
          placeholder="{{global.language.placeholder_phoneNumber}}">
       <app-field-error-display [displayError]="isFieldValid('phoneNumber')" [errorMsg]="getErrorMessage('phoneNumber')"></app-field-error-display>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="separator">
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"> <span class="form-heading" tabindex="0">{{global.language.priContactDetails}}</span></div>
      <div class="form-group col-md-7 offset-md-1 col-lg-5 offset-lg-0" formArrayName="contacts">
        <div *ngFor="let p of tenantDetailsForm.controls.contacts['controls']; let i = index" [formGroupName]="i">
          <label for="firstName">{{global.language.name}}</label>
          <div [ngClass]="displayFieldCss('contacts.'+i+'.firstName')">
            <input type="text" class="form-control" id="primaryName" attr.aria-label="Primary Contact Name" required formControlName="firstName">
            <app-field-error-display [displayError]="isFieldValid('contacts.'+i+'.firstName')" [errorMsg]="getErrorMessage('contacts.'+i+'.firstName')"></app-field-error-display>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"> </div>
      <div class="form-group  col-md-7  offset-md-1 col-lg-5 offset-lg-0" formArrayName="contacts">
        <div *ngFor="let p of tenantDetailsForm.controls.contacts['controls']; let i = index" [formGroupName]="i">
          <label for="officialDesignation">{{global.language.officialDesignation}}</label>
          <div>
            <input type="text" class="form-control" id="officialDesignation" formControlName="designation">
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"> </div>
      <div class="form-group col-md-7 offset-md-1 col-lg-5 offset-lg-0" formArrayName="contacts">
        <div *ngFor="let p of tenantDetailsForm.controls.contacts['controls']; let i = index" [formGroupName]="i">
          <label for="officialEmail">{{global.language.email}}</label>
          <div [ngClass]="displayFieldCss('contacts.'+i+'.email')">
            <input type="email" class="form-control" id="officialEmail" required formControlName="email">
            <app-field-error-display [displayError]="isFieldValid('contacts.'+i+'.email')" [errorMsg]="getErrorMessage('contacts.'+i+'.email')"></app-field-error-display>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3"><span class="help-text">{{global.language.officialEmailId}}</span></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group  col-md-7  offset-md-1 col-lg-5 offset-lg-0" formArrayName="contacts">
        <div *ngFor="let p of tenantDetailsForm.controls.contacts['controls']; let i = index" [formGroupName]="i">
          <label for="phoneNumber">{{global.language.phoneNumber}}</label>
          <div [ngClass]="displayFieldCss('contacts.'+i+'.phoneNumber')">
            <app-phone-number formControlName="countrycode" (onCountryListItemClick)="onCountryListItemClick($event)"></app-phone-number>
            <input type="number" class="form-control typeNumber" id="phoneNumber" attr.aria-label="{{global.language.phoneNumber}}" required placeholder="{{global.language.placeholder_phoneNumber}}"
              formControlName="phoneNumber">
           <app-field-error-display [displayError]="isFieldValid('contacts.'+i+'.phoneNumber')" [errorMsg]="getErrorMessage('contacts.'+i+'.phoneNumber')"></app-field-error-display>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="col-md-7  offset-md-1 col-lg-5 offset-lg-0">
        <div class="form-section-footer">
          <button id="cancelButton" (click)="cancelTenantCreation()">{{global.language.cancelBtn}}</button>
          <button id="goToTenantAdmin" class="btn-active">{{global.language.next}}<i class="fa fa-chevron-right next-arrow" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
  </div>
</form>