<div appAccessibilityClickHandler tabindex="0" class="country-code" role="listbox" (click)="onOptionClick($event)" 
    attr.aria-label="{{selection}}" aria-haspopup="true">
    {{selection}}
    <i class="fa fa-angle-down drop-down" aria-hidden="true"></i>
    <ul class="ul-list" #ul>
        <li class="phoneDropdownList" *ngFor="let country of commonDataStore.countries.value?.data.countries; index as rowIndex" tabIndex="0" 
            role="option" (click)="triggerListItemClick('+'+country.callingCodes[0])"
            (keyup)="focusSelectedValue($event)" attr.aria-label="country code{{country.callingCodes[0]}} {{country.name}}">
            +{{country.callingCodes[0]}} {{country.name}}
        </li>
    </ul>
</div>