<accordion [closeOthers]="oneAtATime" #itemTemplate>
  <accordion-group  [isOpen]="isFirstOpen" >
    <div accordion-heading class="title">
      {{global.language.curriculum_creator}}
    </div>
    <div class="upload-cover-img-wrapper">  
      <button type="button" class="add-button" title="add" (click)="openAssetModel()">+</button>
      <label>{{global.language.upload}}
        <br> {{global.language.cover_image}}
      </label>
    </div>
    <div class="form-wrapper ">
      <div class="form-group">
        <label for="title">{{global.language.title}}</label>
        <input type="text" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label for="author">{{global.language.author}} / {{global.language.contributor}}</label>
        <input type="text" class="form-control" id="author">
      </div>
      <div class="form-group">
        <label for="description">{{global.language.description}}</label>
        <textarea type="text" class="form-control description" id="description"></textarea>
      </div>
    </div> 
  </accordion-group>
  <accordion-group heading="Content 1">
    <p>accordion 1</p>
  </accordion-group>
  <accordion-group heading="Content 2" panelClass="customClass">
    <p>accordion 2</p>
  </accordion-group>
</accordion>

<div class="suggested-wrapper clearfix">
  <div class="add-button-wrapper">
    <div class="v-line"></div>
    <button type="button" class="add-button" title="add">+</button>
  </div>
  <div class="info-wrapper">
    <h3>{{global.language.suggested}}</h3>
    <p>{{global.language.suggested_description}}</p>
    <div class="type-wrapper">
      <h4>
        <i class="fa fa-circle-o fa-2x" aria-hidden="true"></i> {{global.language.course}}</h4>
      <p>{{global.language.course_description}}</p>
    </div>
    <div class="type-wrapper">
      <h4>
        <i class="fa fa-circle-o fa-2x" aria-hidden="true"></i> {{global.language.test}}</h4>
      <p>{{global.language.test_description}}</p>
    </div>
    <div class="type-wrapper last">
      <h4>
        <i class="fa fa-circle-o fa-2x" aria-hidden="true"></i> {{global.language.asset}}</h4>
      <p>{{global.language.asset_description}}</p>
    </div>
  </div>
</div>
<div class="product-footer-section">
  <button type="button" class="btn btn-link">{{global.language.cancel}}</button>
  <button type="button" class="btn btn-secondary">{{global.language.next}}
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </button>
</div>

<app-upload-assets [show]="assetListModel"  (close)="onCloseWindow($event)"></app-upload-assets>
