<div class="modal-body">
  <div class="asset-filter-conatiner" *ngIf="totalFileUploaded > 0">
    <div class="files-message">
      {{ totalFileUploaded - (totalErrorCount + uploadingFilesCount) }} /{{ totalFileUploaded-uploadingFilesCount }} {{ global.language.uploaded_successfuly
      }} <span *ngIf="totalErrorCount > 0">{{ global.language.issues_with }} {{ totalErrorCount }} {{ global.language.files}}</span>
    </div>
    <div class="upload-filter">
      <button type="button" (click)="showAll()" class="btn asset-button active" [ngClass]="{'active':activeAll}">
          <span class="text"> {{ global.language.all}} {{ global.language.files}}</span>
        <span class="number"> {{totalFileUploaded - (totalErrorCount + uploadingFilesCount) }}</span>
      </button>
      <button *ngIf="totalErrorCount > 0" type="button" (click)="showErrors()" [ngClass]="{'active':activeErrors}" class="btn  asset-button">
          <span class="text">{{ global.language.errors}}</span>
        <span class="number">{{ totalErrorCount }}</span>
      </button>
    </div>
  </div>
  <div draggable="true" ngClass="{{dragAreaClass}}" [style.display]="isFilesUploading?'none':'inherit'">
    <div class="row">
      <div class="col-md-12 text-center">
        <i class="fa fa-cloud-upload fa-4x"></i>
        <br> {{ global.language.label_dragdrop }}
        <br> {{ global.language.or }}
        <br>
        <br>
        <a class="btn btn-secondary" href="javascript:void(0)" (click)="file.click()">
          {{ global.language.label_browsefiles }}
        </a>
        <input type="file" #file [multiple]="true" (change)="onFileChange($event)" style="display:none" />
      </div>
    </div>
  </div>
  <div class="upload-status" [style.display]="!isFilesUploading?'none':'inherit'">
    <div class="list-wrapper">
      <ng-template #uploadstatus></ng-template>
    </div>
  </div>
  <div class="row error" *ngIf="errors.length > 0">
    <ul>
      <li *ngFor="let err of errors">{{err}}</li>
    </ul>
  </div>
</div>