<section class="tenant">
    <div class="content-wrapper" appScroll (onScroll)="handleScroll($event)">
        <app-table-header 
            [hasAccess] ="tenentCreationAccess" 
            [heading]="global.language.tenants" 
            [buttonLabel]="global.language.newTenant" 
            (onButtonClick)="addNewTenant($event)"
            (filterBy)="searchAction($event)">
        </app-table-header>
        <div class="table-wrapper">
            <app-data-table 
                #tenantDatatable 
                [isSticky]="scroll" 
                [tableData]="tenants" 
                [loadingIndicator]="tenantTableDataLoading"
                [selected]="tenantTableSelectedRows" 
                [pagination]="pagination" 
                [columns]="tenantDatatableColumns"
                (pageAction)="pageAction($event)" 
                (sortByAction)="onSortByAction($event)" 
                [rowDetailsTemplate]="rowdetails" 
                [isRowDetailsEnable]="true"
                [isShowExportButton]="false">
            </app-data-table>
        </div>
    </div>
</section>
<ng-template #tenantTableRowExpandOnNameTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <a *ngIf="row.company" href="javascript:void(0);" (click)="tenantDetails($event,row)" appAccessibilityClickHandler>
        <strong tabindex="0">{{row.company}}</strong>
    </a>
    <span></span>
</ng-template>
<ng-template #tenantTableStatusTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span tabindex="0" [ngClass]="row.isActive ? 'badge badge-pill bordered badge-success' : 'badge badge-pill badge-danger'">
        {{ row.isActive ? global.language.active : global.language.inactive }}
    </span>
</ng-template>
<ng-template #tenantTableActionsTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <div role="listbox" dropdown class="dropdown action-dropdown" container="body" placement="bottom right">
        <button dropdownToggle id="ActiondropdownMenuButton" aria-haspopup="false">
            <a href (click)="false">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </a>
        </button>
        <ul tabindex="1" aria-hidden="true" aria-expanded="false" *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="ActiondropdownMenuButton">
            <li role="listitem actionItem" tabindex="0" *ngFor="let choice of actionItems">
                <a class="dropdown-item" href (click)="false">{{choice}}</a>
            </li>
        </ul>
    </div>
</ng-template>
<ng-template #rowdetails let rowExpandDetail="rowExpandDetails">
    <div class="datatable-body">
        <div class="datatable-row-center" tabindex="0">
            <div class="datatable-body-cell" tabindex="0"><span>{{ rowExpandDetails.lastName }} {{ rowExpandDetails.firstName }}</span></div>
            <div class="datatable-body-cell" tabindex="0"><span>{{ rowExpandDetails.email }}</span></div>
            <div class="datatable-body-cell" tabindex="0"><span>{{ rowExpandDetails.phone }}</span></div>
        </div>
    </div>
</ng-template>
<ng-template #tenantTableTenantNameColumnTemplate let-row="row" ngx-datatable-header-template>
    <div class="datatable-body-cell" tabindex="0"><span>{{global.language.tenant}}</span></div>
</ng-template>
<ng-template #tenantTablePrimaryContactColumnTemplate let-row="row" ngx-datatable-header-template>
    <div class="datatable-body-cell" tabindex="0"><span>{{global.language.primaryContact}}</span></div>
</ng-template>
<ng-template #tenantTableEmailColumnTemplate let-row="row" ngx-datatable-header-template>
    <div class="datatable-body-cell" tabindex="0"><span>{{global.language.email}}</span></div>
</ng-template>
<ng-template #tenantTableAssetsColumnTemplate let-row="row" ngx-datatable-header-template>
    <div class="datatable-body-cell" tabindex="0"><span>{{global.language.assets}}</span></div>
</ng-template>
<ng-template #tenantTableStatusColumnTemplate let-row="row" ngx-datatable-header-template>
    <div class="datatable-body-cell" tabindex="0"><span>{{global.language.status}}</span></div>
</ng-template>
<ng-template #tenantTableActionColumnTemplate let-row="row" ngx-datatable-header-template>
    <div class="datatable-body-cell" tabindex="0"><span>{{global.language.actions}}</span></div>
</ng-template>
<ng-template #tenantTablePrimaryContactCellTemplate let-row="row" ngx-datatable-cell-template>
    <span tabindex="0">{{row.name}}</span>
</ng-template>
<ng-template #tenantTableEmailCellTemplate let-row="row" ngx-datatable-cell-template>
    <span tabindex="0">{{row.contactEmail}}</span>
</ng-template>
<ng-template #tenantTableAssetsCellTemplate let-row="row" ngx-datatable-cell-template>
    <span tabindex="0">{{row.assets}}</span>
</ng-template>