<section class="users">
    <div class="content-wrapper">
        <app-table-header [heading]="global.language.users" [buttonLabel]="global.language.createNewUser" (onButtonClick)="addNewUser.show()"
            [id]="'addUser'" (filterBy)="searchAction($event)">
        </app-table-header>
        <div class="table-wrapper">
            <app-data-table 
                #userDatatable 
                [isSticky]="scroll" 
                [tableData]="userList.UserListData.value.data.users" 
                [loadingIndicator]="userService.userListDataLoader"
                [selected]="userTableSelectedRows" 
                [pagination]="userList.UserListData.value.data._pagination" 
                [columns]="userDatatableColumns"
                (pageAction)="pageAction($event)" 
                (sortByAction)="onSortByAction($event)" 
                [rowDetailsTemplate]="rowdetails" 
                [isRowDetailsEnable]="true"
                [isShowExportButton]="false" 
                >
            </app-data-table>
        </div>
        <div class="modal fade" bsModal #addNewUser="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content user-modal-container">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">{{global.language.addUser}}</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="addNewUser.hide()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="chooseUser">{{global.language.chooseUserCreation}}</div>
                        <div class="userTypecontainer">
                            <div class="userTypeButton">
                                <button type="button" class="userType" [ngClass]="{'isActive': selectedUser == 'multiple'}" (click)="showMultipleUser('multiple')"></button>
                                <label>{{global.language.multipleUsers}}</label>
                            </div>
                            <div class="userTypeButton">
                                <button type="button" class="userType" [ngClass]="{'isActive': selectedUser == 'individual'}"
                                    (click)="showMultipleUser('individual')"></button>
                                <label>{{global.language.individualUsers}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="cancelUserModalWindow" (click)="addNewUser.hide()">
                            {{global.language.cancelBtn}}
                        </button>
                        <button id="goToSiteAdmin" type="" [class.btn-active]=userType [disabled]=!userType (click)="checkUserType()">
                            {{global.language.next}} <i class="fa fa-chevron-right next-arrow" aria-hidden="true"></i>
                        </button>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" bsModal #multipleUserModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content user-modal-container">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">{{global.language.inviteUsers}}</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="multipleUserModal.hide()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="chooseUser" [hidden]="successfullyInvited"> {{global.language.enterEmailAddress}} </div>
                        <div class="successfully-invited-users" [hidden]="!successfullyInvited">{{global.language.successfullyInvitedusers}}</div>
                        <div class="email-add-inviteBox" [hidden]="successfullyInvited">
                            <div class="sample" *ngFor="let email of multipleEmailList;let arrayIndex=index;"> {{ email }}
                                <i class="close-icon fa fa-times" aria-hidden="true" (click)="deleteEmail(arrayIndex)"></i>
                            </div>
                            <input type="text" class="hideStyles" autofocus [(ngModel)]="email" (keypress)="addMultipleEmail($event)">
                        </div>
                    </div>
                    <div class="modal-footer" [hidden]="successfullyInvited">
                        <button id="cancelMultipleUserModalWindow" (click)="multipleUserModal.hide()">
                            <span class="form-button-text">{{global.language.cancelBtn}}</span>
                        </button>
                        <button id="inviteUser" type="" [class.btn-active]=emailAdded [disabled]=!emailAdded (click)="userInvited()">
                            <span class="form-button-text-active">{{global.language.invite}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #userTableStatusTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span [ngClass]="row.isActive ? 'badge badge-pill bordered badge-success' : 'badge bordered badge-pill badge-danger'">
        {{ row.isActive ? global.language.active : global.language.inactive }}
    </span>
</ng-template>
<ng-template #userTableActionsTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span dropdown class="dropdown action-dropdown" container="body" placement="bottom right">
        <a href dropdownToggle (click)="false">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <li *ngFor="let choice of actionItems">
                <a class="dropdown-item" href="javascript:void(0)" (click)="switchActionItems(row,choice)">{{choice.actionName}}</a>
            </li>
        </ul>
    </span>
</ng-template>
<app-assign-user-to-classroom 
    [show] = "selectedmenu === 'addtoclassroom'"
    (onClose) = "onClose($event)"
    ></app-assign-user-to-classroom>