<section class="product">
    <div class="content-wrapper" appScroll (onScroll)="handleScroll($event)">
        <app-table-header [heading]="global.language.products" [buttonLabel]="global.language.create_new_product" (onButtonClick)="addNewProduct($event)"
            (filterBy)="searchAction($event)">
        </app-table-header>
        <div class="table-wrapper">
            <app-data-table 
                [isSticky]="scroll" 
                [tableData]="productList.ProductListData.value.data.products" 
                [loadingIndicator]="productTableDataLoading"
                [selected]="productTableSelectedRows" 
                [pagination]="productList.ProductListData.value.data._pagination" 
                [columns]="productDatatableColumns"
                (pageAction)="pageAction($event)" 
                (sortByAction)="onSortByAction($event)" 
                [rowDetailsTemplate]="rowdetails" 
                [isRowDetailsEnable]="true"
                [isShowExportButton]="false">
            </app-data-table>
        </div>
    </div>
</section>
<ng-template #productTableRowExpandOnNameTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <a *ngIf="row.name" href="javascript:void(0);">
        <strong>{{row.name}}</strong>
    </a>
</ng-template>
<ng-template #productTableStatusTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span [ngClass]="row.isActive ? 'badge badge-pill bordered badge-success' : 'badge bordered badge-pill badge-danger'">
        {{ row.isActive ? global.language.active : global.language.inactive }}
    </span>
</ng-template>
<ng-template #productTableActionsTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span dropdown class="dropdown action-dropdown" container="body" placement="bottom right">
        <a href dropdownToggle (click)="false">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <li *ngFor="let choice of actionItems">
                <a class="dropdown-item" href="javascript:void(0)" (click)="false">{{choice}}</a>
            </li>
        </ul>
    </span>
</ng-template>
<ng-template #productListTimestampTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span>
        <a class="upload-info-link" (click)="productInfoData(row)">{{ row.createdTime | date:'dd.MM.yy | hh:mm a':'utc' | lowercase}}</a>
    </span>
</ng-template>
<ng-template #productListProductCodeTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span>
        <a class="upload-info-link" (click)="productInfoData(row)">{{ row.code}}</a>
    </span>
</ng-template>
<ng-template #productListNameTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span>
        <a class="upload-info-link" (click)="productInfoData(row)">{{ row.name}}</a>
    </span>
</ng-template>
<ng-template #productListSizeTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span>
        <a class="upload-info-link" (click)="productInfoData(row)">{{ row.size}}</a>
    </span>
</ng-template>
<ng-template #productListFormatTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span>
        <a class="upload-info-link" (click)="productInfoData(row)">{{ row.format}}</a>
    </span>
</ng-template>
<ng-template #productListStatusTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span>
        <a class="upload-info-link" (click)="productInfoData(row)">{{ row.status}}</a>
    </span>
</ng-template>
<ng-template #productListActionTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span>
        <a class="upload-info-link" (click)="productInfoData(row)">{{ row.name}}</a>
    </span>
</ng-template>
<app-table-details-window [heading]="global.language.product_details" [batchId]="selectedRow ? selectedRow.name : '' ">
    <app-window-tabSet>
        <tabset #staticTabs>
            <tab heading="{{global.language.product_info}}" id="productInfo">
            </tab>
            <tab heading="{{global.language.assets}}" id="assets">
                <div class="filter-wrapper">
                    <button class="btn btn-filter active">
                        <span class="text">{{global.language.assets}}</span>
                    </button>
                    <button class="btn btn-filter">
                        <span class="text">{{global.language.products}}</span>
                        <span class="number">0</span>
                    </button>
                </div>
                <div class="assets-list-wrapper">
                    <div class="list-item">
                        <div class="icon-wrapper">
                            <i class="fa fa-file-o"></i>
                        </div>
                        <div class="info-wrapper">
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </app-window-tabSet>
</app-table-details-window>
<div class="modal fade create-product-window" bsModal #createNewProduct="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{global.language.create_new_product}}
                    <div class="select-product">{{global.language.select_product_message}}</div>
                </h4>
                <button class="close-btn" aria-label="Close" (click)="createNewProduct.hide()">
                    <i class="fa fa-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="product-card" *ngFor="let productType of productTypeList" (click)=selectProductType(productType.type)>
                    <div class="card-image">
                    </div>
                    <div class="card-desc">
                        {{productType.type}}
                    </div>
                </div>
            </div>
        </div>
    </div>