<app-product-modal 
    [modalClass]="'modal-lg'" 
    [modalCode]="'modal_asset_link'" 
    [show]="show" 
    [modalBodyTemplate]="assignToClassroom"
    [title]="global.language.user_assign_add_to_classroom" 
    [backdropClick]= "true"
    (close)="closeWindow($event)">
</app-product-modal>
<ng-template #assignToClassroom>
    <app-product-modal-search 
        [labelText] = "global.language.user_assign_select_classroom"
        (searchBy)="searchBy($event)">
    </app-product-modal-search>
    <div class="table-wrapper">
        <app-data-table 
            [isShowToolbar]="false" 
            [tableData]="userGroups" 
            [loadingIndicator]="dataloader" 
            [showSettings]="false" 
            [columns]="dataTableColumns"
            [pagination]="pagination" 
            (pageAction)="pageAction($event)" 
            (sortByAction)="onSortByAction($event)" 
            [isRowDetailsEnable]="true"
            [selected]="selectedRows" 
            (onSelected)="onSelected($event)">
        </app-data-table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link" (click)="cancel()">{{ global.language.cancel }}</button>
        <button type="button" class="btn btn-secondary" [disabled]="selectedRows.length <= 0" (click)="onNext()">
            {{ global.language.next }}
            <i aria-hidden="true" class="fa fa-chevron-right next-arrow"></i>
        </button>
    </div>
</ng-template>
