<div class="form-section">
  <div class="row">
    <div class="col-md-11 offset-md-1 col-lg-3"></div>
    <div class="form-group col-md-7 offset-md-1 col-lg-5 offset-lg-0">
      <div class="selected-area">
        <div class="form-check">
          <label class="form-check-label checkbox p-0">
              <input type="checkbox" class="form-check-input"><span class="copyPermissionsText">
                {{global.language.copyPermissions}}</span>
            </label>
        </div>
        <select class="form-control">
            <option  class="form-control" id="selectRole">Select Role</option>
            <option class="form-control selected" id="selectRole1">Select Role1</option>
          </select>
      </div>
    </div>
    <div class="col-md-4 col-lg-3"></div>
  </div>
  <div class="role-container">
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group  col-md-7 offset-md-1 col-lg-5 offset-lg-0">
        <ul>
          <!--1st level-->
          <li *ngFor="let resourceGroup of roleData.RoleResourcePostData.value.data.resourceGroups;let i = index;">
            <div class="first-level checkbox">
              <input type="checkbox" class="form-check-input" [(ngModel)]="resourceGroup.isChecked" (change)="firstLevel(resourceGroup)">
              <span class="role-data" (click)="toggleResourceList(resourceGroup,i)" [attr.id]="'firstLevel-' + i">{{resourceGroup.code}}</span>
            </div>
            <!--2nd level-->
            <ul [hidden]="!resourceGroup.isOpen">
              <li data-value="table" *ngFor="let resource of resourceGroup.resources;let j = index;">
                <div class="second-level checkbox">
                  <input type="checkbox" class="form-check-input" [(ngModel)]="resource.isChecked" (change)="childLevel(resourceGroup,resource)">
                  <span class="role-data" (click)="toggleOperationList(resource,i)" [attr.id]="'secondLevel-' + i">{{resource.code}}</span>
                </div>
                <!-- 3rd level-->
                <ul class="third-level" [hidden]="!resource.isOpen">
                  <li class="checkbox" data-value="table" *ngFor="let operation of resource.operations">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="operation.isChecked" (change)="childLevel(resourceGroup,resource,operation)"
                      [attr.id]="'thirdLevel-' + i"><span class="role-data">{{operation.code}}</span>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <div class="col-md-4 col-lg-3"></div>
      </div>
    </div>
    <div class="separator"></div>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-3"></div>
      <div class="form-group col-md-7 offset-md-1 col-lg-5 offset-lg-0">
        <div class="form-section-footer">

          <button id="backToRoleDetails">
                <i class="fa fa-chevron-left prev-arrow" aria-hidden="true"></i>
                <span class= "form-button-text" (click) = "backToRoleDetails()">{{global.language.back}}</span>
            </button>
          <button id="newRoleAdded" [class.btn-active]=true (click)="createPermission()">
              <span class= "form-button-text-active">{{global.language.done}}</span>
            </button>
        </div>
      </div>
      <div class="col-md-4 col-lg-3"></div>
    </div>
  </div>
</div>
