// Body
//
// Settings for the `<body>` element.
$body-bg : $white-color !default;
$body-text-color : $text-color !default;
// Links
//
// Style anchor elements.
$link-color : $water-blue-color !default;
$link-decoration : none !default;
$link-hover-color : $tomato-color !default;
$link-hover-decoration : underline !default;

/*** Global ***/

// Media Query Ranges
$small-screen-up : 601px !default;
$medium-screen-up : 993px !default;
$large-screen-up : 1201px !default;
$small-screen : 600px !default;
$medium-screen : 992px !default;
$large-screen : 1200px !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
$spacer : 1rem !default;
$spacer-x : $spacer !default;
$spacer-y : $spacer !default;
$spacers: ( 0: ( x : 0, y : 0), 1: ( x : $spacer-x, y : $spacer-y), 2: ( x : ($spacer-x * 1.5), y : ($spacer-y * 1.5)), 3: ( x : ($spacer-x * 3), y : ($spacer-y * 3))) !default;
$border-width : 1px !default;
// Typography
//
// Font, line-height, and color for body text, headings, and more.
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');
@font-face {
    font-family: 'HKGrotesk';
    src: url('/assets/scss-data/fonts/hkgrotesk-regular-webfont.eot');
    src: url('/assets/scss-data/fonts/hkgrotesk-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/scss-data/fonts/hkgrotesk-regular-webfont.woff2') format('woff2'), url('/assets/scss-data/fonts/hkgrotesk-regular-webfont.woff') format('woff'), url('/assets/scss-data/fonts/hkgrotesk-regular-webfont.ttf') format('truetype'), url('/assets/scss-data/fonts/hkgrotesk-regular-webfont.svg#hk_groteskregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HKGrotesk-medium';
    src: url('/assets/scss-data/fonts/hkgrotesk-medium-webfont.eot');
    src: url('/assets/scss-data/fonts/hkgrotesk-medium-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/scss-data/fonts/hkgrotesk-medium-webfont.woff2') format('woff2'), url('/assets/scss-data/fonts/hkgrotesk-medium-webfont.woff') format('woff'), url('/assets/scss-data/fonts/hkgrotesk-medium-webfont.ttf') format('truetype'), url('/assets/scss-data/fonts/hkgrotesk-medium-webfont.svg#hk_groteskmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HKGrotesk-semibold';
    src: url('/assets/scss-data/fonts/hkgrotesk-semibold-webfont.eot');
    src: url('/assets/scss-data/fonts/hkgrotesk-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/scss-data/fonts/hkgrotesk-semibold-webfont.woff2') format('woff2'), url('/assets/scss-data/fonts/hkgrotesk-semibold-webfont.woff') format('woff'), url('/assets/scss-data/fonts/hkgrotesk-semibold-webfont.ttf') format('truetype'), url('/assets/scss-data/fonts/hkgrotesk-semibold-webfont.svg#hk_grotesksemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HKGrotesk-italic';
    src: url('/assets/scss-data/fonts/hkgrotesk-italic-webfont.eot');
    src: url('/assets/scss-data/fonts/hkgrotesk-italic-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/scss-data/fonts/hkgrotesk-italic-webfont.woff2') format('woff2'), url('/assets/scss-data/fonts/hkgrotesk-italic-webfont.woff') format('woff'), url('/assets/scss-data/fonts/hkgrotesk-italic-webfont.ttf') format('truetype'), url('/assets/scss-data/fonts/hkgrotesk-italic-webfont.svg#hk_groteskitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-family-sans-serif : "HKGrotesk",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif !default;
$font-family-serif : "HKGrotesk",
sans-serif !default;
$font-family-monospace : Menlo,
Monaco,
Consolas,
"Courier New",
monospace !default;
$font-family-base : $font-family-sans-serif !default;
// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root : 16px !default;
$font-size-base : 1rem !default;
$font-size-lg : 1.25rem !default;
$font-size-sm : .875rem !default;
$font-size-xs : .75rem !default;
$font-size-h1 : 1.5rem!default;
$font-size-h2 : 1.375rem !default;
$font-size-h3 : 1.25rem !default;
$font-size-h4 : 1.125rem !default;
$font-size-h5 : 1.1rem !default;
$font-size-h6 : 1rem !default;
$line-height : 1.5 !default;
$headings-margin-bottom : ($spacer / 2) !default;
$headings-font-family : inherit !default;
$headings-font-weight : 500 !default;
$headings-line-height : 1.1 !default;
$headings-color : inherit !default;
$lead-font-size : 1.25rem !default;
$lead-font-weight : 300 !default;
$text-muted : $gray-light !default;
$abbr-border-color : $gray-light !default;
$blockquote-small-color : $gray-light !default;
$blockquote-font-size : ($font-size-base * 1.25) !default;
$blockquote-border-color : $gray-lighter !default;
$hr-border-color : rgba(0,
0,
0,
.1) !default;
$hr-border-width : $border-width !default;
$dt-font-weight : bold !default;
$nested-kbd-font-weight : bold !default;
$list-inline-padding : 5px !default;
// Text fluid
$range: $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;
// Define common padding and border radius sizes and more.
$line-height-lg : (4 / 3) !default;
$line-height-sm : 1.5 !default;
$border-radius : .25rem !default;
$border-radius-lg : .3rem !default;
$border-radius-sm : .2rem !default;
$component-active-color: $white-color !default;
$component-active-bg : $dark-blue-color !default;
$caret-width : .3em !default;
$caret-width-lg : $caret-width !default;
// Form states and alerts
//
// Define colors for form feedback states and, by default, alerts.
$state-success-text : #3c763d !default;
$state-success-bg : #dff0d8 !default;
$state-success-border : darken($state-success-bg,
5%) !default;
$state-info-text : #0099CC !default;
$state-info-bg : #d9edf7 !default;
$state-info-border : darken($state-info-bg,
7%) !default;
$state-warning-text : #FF8800 !default;
$state-warning-bg : #fcf8e3 !default;
$state-warning-border : darken($state-warning-bg,
5%) !default;
$state-danger-text : #CC0000 !default;
$state-danger-bg : #f2dede !default;
$state-danger-border : darken($state-danger-bg,
5%) !default;

/*** Forms ***/

// Text Inputs + Textarea
$input-border-color: #ccc !default;
$input-bg-color: $white-color !default;
$input-error-color: $state-danger-text !default;
$input-success-color: $state-success-text !default;
$input-focus-color: $water-blue-color !default;
$label-font-size: 12px !default;
$label-color: #595959 !default;
$input-disabled-color: rgba(0,
0,
0,
.46) !default;
$input-disabled-solid-color: #BDBDBD !default;
$input-padding-x : .75rem !default;
$input-padding-y : .375rem !default;
$input-bg : $white-color !default;
$input-bg-disabled : $gray-lighter !default;
$input-color : $gray !default;
$input-border-color : #ccc !default;
$input-btn-border-width : $border-width !default; // For form controls and buttons
$input-box-shadow : inset 0 1px 1px rgba(0,
0,
0,
.075) !default;
$input-border-radius : $border-radius !default;
$input-border-radius-lg : $border-radius-lg !default;
$input-border-radius-sm : $border-radius-sm !default;
$input-border-focus : #66afe9 !default;
$input-box-shadow-focus : rgba(102,
175,
233,
.6) !default;
$input-color-placeholder : #999 !default;
$input-padding-x-sm : .75rem !default;
$input-padding-y-sm : .275rem !default;
$input-padding-x-lg : 1.25rem !default;
$input-padding-y-lg : .75rem !default;
$input-height : (($font-size-base * $line-height)+($input-padding-y * 2)) !default;
$input-height-lg : (($font-size-lg * $line-height-lg)+($input-padding-y-lg * 2)) !default;
$input-height-sm : (($font-size-sm * $line-height-sm)+($input-padding-y-sm * 2)) !default;
$form-group-margin-bottom : $spacer-y !default;
$input-group-addon-bg : $gray-lighter !default;
$input-group-addon-border-color: $input-border-color !default;
$cursor-disabled : not-allowed !default;
// Form validation icons
$form-icon-success: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMjMzLjggNjEwYy0xMy4zIDAtMjYtNi0zNC0xNi44TDkwLjUgNDQ4LjhDNzYuMyA0MzAgODAgNDAzLjMgOTguOCAzODljMTguOC0xNC4yIDQ1LjUtMTAuNCA1OS44IDguNGw3MiA5NUw0NTEuMyAyNDJjMTIuNS0yMCAzOC44LTI2LjIgNTguOC0xMy43IDIwIDEyLjQgMjYgMzguNyAxMy43IDU4LjhMMjcwIDU5MGMtNy40IDEyLTIwLjIgMTkuNC0zNC4zIDIwaC0yeiIvPjwvc3ZnPg==" !default;
$form-icon-warning: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNNjAzIDY0MC4ybC0yNzguNS01MDljLTMuOC02LjYtMTAuOC0xMC42LTE4LjUtMTAuNnMtMTQuNyA0LTE4LjUgMTAuNkw5IDY0MC4yYy0zLjcgNi41LTMuNiAxNC40LjIgMjAuOCAzLjggNi41IDEwLjggMTAuNCAxOC4zIDEwLjRoNTU3YzcuNiAwIDE0LjYtNCAxOC40LTEwLjQgMy41LTYuNCAzLjYtMTQuNCAwLTIwLjh6bS0yNjYuNC0zMGgtNjEuMlY1NDloNjEuMnY2MS4yem0wLTEwN2gtNjEuMlYzMDRoNjEuMnYxOTl6Ii8+PC9zdmc+" !default;
$form-icon-danger: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4=" !default;
// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.
$table-cell-padding : .75rem !default;
$table-sm-cell-padding : .3rem !default;
$table-bg : transparent !default;
$table-bg-accent : #f9f9f9 !default;
$table-bg-hover : #f5f5f5 !default;
$table-bg-active : $table-bg-hover !default;
$table-border-width : $border-width !default;
$table-border-color : $gray-lighter !default;
// Code
$code-color : #bd4147 !default;
$code-bg : #f7f7f9 !default;
$kbd-color : #fff !default;
$kbd-bg : #333 !default;
$pre-bg : #f7f7f9 !default;
$pre-color : $black-color !default;
$pre-border-color : #ccc !default;
$pre-scrollable-max-height : 340px !default;