<section class="sites">
    <div class="content-wrapper" appScroll (onScroll)="handleScroll($event)">
        <app-table-header [heading]="global.language.sites" [buttonLabel]="global.language.createNewSite" (onButtonClick)="addNewSite($event)"
            (filterBy)="searchAction($event)">
        </app-table-header>
        <div class="table-wrapper">
            <app-data-table
                #siteDatatable
                [isSticky] = "scroll"
                [tableData]="siteList.SiteListData.value.data.sites"
                [loadingIndicator]="siteService.siteListDataLoader"
                [selected]="siteTableSelectedRows"
                [pagination]="siteList.SiteListData.value.data._pagination"
                [columns]="siteDatatableColumns"
                (pageAction)="pageAction($event)"
                (sortByAction)="onSortByAction($event)"
                [rowDetailsTemplate]="rowdetails"
                [isRowDetailsEnable] = "true"
                [isShowExportButton] = "false"
            >
            </app-data-table>
        </div>
    </div>
</section>
<ng-template #siteTableRowExpandOnNameTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <a *ngIf="row.name" href="javascript:void(0);" (click)="siteDetails($event,row)">
        <strong>{{row.name}}</strong>
    </a>
</ng-template>
<ng-template #siteTableStatusTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span [ngClass]="row.isActive ? 'badge badge-pill bordered badge-success' : 'badge bordered badge-pill badge-danger'">
        {{ row.isActive ? global.language.active : global.language.inactive }}
    </span>
</ng-template>
<ng-template #siteTableActionsTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span dropdown class="dropdown action-dropdown" container="body" placement="bottom right">
        <a href dropdownToggle (click)="false">
            <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    </a>
    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
        <li *ngFor="let choice of actionItems">
            <a class="dropdown-item" href="javascript:void(0)" (click)="switchActionItems(row,choice)">{{choice}}</a>
        </li>
    </ul>
    </span>
</ng-template>
<ng-template #rowdetails let rowExpandDetail="rowExpandDetails">
    <div class="datatable-body">
        <div class="datatable-row-center">
            <div class="datatable-body-cell">{{ global.language.siteCode}}<br> 08112</div>
            <div class="datatable-body-cell">{{ global.language.createdOn}} <br> 29/12/2017</div>
            <div class="datatable-body-cell">{{ global.language.Admin}} <br> <i class="fa fa-user"></i> 12</div>
            <div class="datatable-body-cell institute" (click)="createNewInstitute()">{{ global.language.institute}} <br> <i class="fa fa-building"></i> 22</div>
            <div class="datatable-body-cell">{{ global.language.productAssetDetails}} <br> <i class="fa fa-dropbox"></i> 22</div>
        </div>
    </div>
</ng-template>