@import "../../../../assets/scss-data/colors";
@import "../../../../assets/scss-data/variables";

.dragarea,
.droparea {
    font-size: 14px;
    border: 2px dashed $border-color;
    padding: 20px;
    margin: 20px;
    background-color: $gray-lightest;
    color: $gray;
    border-radius: 20px;
    height: 60vh;
    .fa-cloud-upload {
        color: $gray-light;
    }
}
.droparea {
    background-color: $gray-lighter;
}