<app-form >
    <app-form-header>
        <div class="heading">{{global.language.createNewSite}}</div>
        <div class="navbar header-section">
            <ul class="nav nav-tabs">
                <li [attr.tabindex]="this.siteData.AddNewSitePostData.activeTabName == 'siteinfo' ? 0 : -1" class="shift-left" [class.active]="this.siteData.AddNewSitePostData.activeTabName == 'siteinfo'"><span>{{global.language.formStep1}}</span>{{global.language.siteInfo}}</li>
                <li [attr.tabindex]="this.siteData.AddNewSitePostData.activeTabName == 'siteadmin' ? 0 : -1" [class.active]="this.siteData.AddNewSitePostData.activeTabName == 'siteadmin'"><span>{{global.language.formStep2}}</span>{{global.language.siteAdmin}}</li>
                <li [attr.tabindex]="this.siteData.AddNewSitePostData.activeTabName == 'sitesettings' ? 0 : -1" [class.active]="this.siteData.AddNewSitePostData.activeTabName == 'sitesettings'"><span>{{global.language.formStep3}}</span>{{global.language.siteSettings}}</li>
            </ul>
        </div>
    </app-form-header>
    <app-form-body>
            <app-site-add-info *ngIf="this.siteData.AddNewSitePostData.activeTabName == 'siteinfo'"></app-site-add-info>
            <app-site-add-admin *ngIf="this.siteData.AddNewSitePostData.activeTabName == 'siteadmin'"></app-site-add-admin>
            <app-site-add-settings *ngIf="this.siteData.AddNewSitePostData.activeTabName == 'sitesettings'"></app-site-add-settings>
    </app-form-body>
    </app-form>