<section class="tenant">
    <div class="content-wrapper" appScroll (onScroll)="handleScroll($event)">
        <app-table-header 
            [heading]="global.language.assets" 
            [buttonLabel]="global.language.createNew" 
            (onButtonClick)="newAsset()"
            (filterBy)="searchAction($event)">
        </app-table-header>
        <div class="table-wrapper">
            <app-data-table #uploadHistoryDataTable 
                [isShowToolbar]="true" 
                [isSticky]="scroll" 
                [tableData]="productData.assetList.value.data.assets"
                [loadingIndicator]="assetApi.dataLoader" 
                [columns]="assetsDataTableColumns" 
                [pagination]="productData.assetList.value.data._pagination"
                (pageAction)="pageAction($event)" 
                (sortByAction)="onSortByAction($event)" 
                (activate)="onRowClick($event)" 
                [isRowDetailsEnable]="true"
                [defaultSort]="defaultSort" 
                [selected]="selectedRows"
                [contextualMenu] = "contextualMenu"
                (OnContextMenu) = "OnContextMenu($event)"
                >
            </app-data-table>
        </div>
    </div>
</section>

<ng-template #timeStampTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span>
        {{ row.createdTime | date:'dd.MM.yy | hh:mm a':'utc' | lowercase}}
    </span>
</ng-template>
<ng-template #fileSizeTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span>{{ row.fileSize | fileSize : 0}}</span>
</ng-template>
<ng-template #isProductLinkTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span>
        <a (click)="showProductAssociation(row)">{{ row.isPublished ? global.language.yes : global.language.no }}</a>
    </span>
</ng-template>
<ng-template #statusTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <span [ngClass]="getStatusCssClass(row.processStatus)">
        {{ row.processStatusMessage}}
    </span>
</ng-template>
<ng-template #isPublishedHeaderTemplate let-column="column" ngx-datatable-header-template>
    <div dropdown class="dropdown action-dropdown d-inline" container="body">
        <a href dropdownToggle (click)="false">
            {{column.name}}
            <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu">
            <li *ngFor="let choice of linkFiterItems">
                <a class="dropdown-item" href (click)="false">{{choice}}</a>
            </li>
        </ul>
    </div>
</ng-template>
<ng-template #statusHeaderTemplate let-column="column" ngx-datatable-header-template>
    <div dropdown class="dropdown action-dropdown d-inline" container="body">
        <a href dropdownToggle (click)="false">
            {{column.name}}
            <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu">
            <li *ngFor="let choice of statusFiterItems">
                <a class="dropdown-item" href (click)="false">{{choice}}</a>
            </li>
        </ul>
    </div>
</ng-template>
<app-table-details-window [heading]="global.language.asset +' '+ global.language.details" [batchId]="selectedRow ? selectedRow.name : '' ">
    <app-window-tabSet>
        <tabset #staticTabs>
            <tab [heading]="global.language.asset + ' ' + global.language.info">
                <i class="fa fa-spinner fa-spin" *ngIf="tabAssetLoader"></i>
                <div class="assets-info-wrapper">
                    <div class="info-item">
                        <div class="icon-wrapper">
                            <img [src]="productData.asset.value.data.asset.previewPath?productData.asset.value.data.asset.previewPath:global.placeholderImg" />
                        </div>
                        <div class="info-wrapper">
                            <h3 class="title">{{ selectedRow.name }}</h3>
                            <p>
                                <span>{{global.language.type}}</span> {{ selectedRow.mimeType }}</p>
                            <p>
                                <span>{{global.language.size}}</span> {{ selectedRow.fileSize | fileSize
                                : 0 }}
                            </p>
                            <div class="clearfix"></div>
                            <p class="margin-0">
                                <span>{{global.language.description}}</span>
                            </p>
                            <div class="description" contenteditable="true">
                                {{ selectedRow.description }}
                            </div>
                            <div class="clearfix"></div>
                            <p class="sub-title">
                                {{global.language.asset_label_processing_info}} 
                            </p>
                            <p>
                                <span class="label-text">{{global.language.asset_label_delivery_channels}}</span> {{ productData.asset.value.data.asset.deliveryChannels
                                ? productData.asset.value.data.asset.deliveryChannels.toString() : '' }}
                            </p>
                            <hr class="hr">
                            <p>
                                <span class="label-text">{{global.language.asset_label_processing_status}}</span> {{ selectedRow.processStatusMessage
                                }}
                            </p>
                            <hr class="hr">
                            <p class="sub-title">{{global.language.asset}} {{global.language.metadata}}</p>
                            <div *ngFor="let meta of productData.asset.value.data.asset.meta | mapToIterable:'keyval'">
                                <p>
                                    <span class="label-text">{{meta.key}}</span> {{meta.value}}
                                </p>
                                <hr class="hr">
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="{{ global.language.assocations }}">
                <div class="assocations-wrapper">
                    <div class="info-text">{{global.language.asset_label_title_link_association }}</div>
                    <div class="assocations-list-wrapper">
                        <div class="assocations-list-item" *ngFor=" let link of productData.assetProductLink.value.data.assetProductLinks">
                            <div class="icon-wrapper">
                                <i class="fa fa-file-o"></i>
                            </div>
                            <div class="info-wrapper">
                                <span class="link-name">{{ link.linkName}}</span>
                                <span class="product-name">{{ link.productName}}</span>
                                <span class="p-icon" *ngIf="link.isPublished == true">P</span>
                            </div>
                            <hr class="hr" />
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </app-window-tabSet>
</app-table-details-window>
<app-asset-delete [show]="selectedMenuAction === 'delete'" (close)="onCloseWindow($event)"></app-asset-delete>
<app-asset-link [show]="selectedMenuAction === 'link'" (close)="onCloseWindow($event)"></app-asset-link>
<app-asset-replace [show]="selectedMenuAction === 'replace'" (close)="onCloseWindow($event)"></app-asset-replace>